<mat-grid-list cols="3" rowHeight="3:2" >
  <mat-grid-tile *ngFor="let house of houses">
    <mat-card class="house-card" (click)="showDetails(house)">
      <mat-card-header>
        <mat-card-title>{{house.name}}</mat-card-title>
        <mat-card-subtitle>{{house.region}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="house.details">
          <h3>Coat of Arms:</h3> <p>{{house.coatOfArms}} </p>
          <h3>Words: </h3> <p>{{house.words}} </p>
          <h3>Seats: </h3> <p> {{house.seats}} </p>
          <h3>Sworn Members:</h3>
          <mat-chip-list>
            <mat-chip *ngFor="let member of house.members">{{member}}</mat-chip>
          </mat-chip-list>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<div class="paging">
  <button mat-icon-button (click)="back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <button mat-icon-button (click)="next()">
    <mat-icon>arrow_forward</mat-icon>
  </button>
</div>
